<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>992006850369-1jkidtnr33r7gsbfrci8h5m6neju9uab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992006850369-1jkidtnr33r7gsbfrci8h5m6neju9uab</string>
	<key>API_KEY</key>
	<string>AIzaSyDt-QtfnBWR9ySq4Moi40CbPYY2Bz71O0E</string>
	<key>GCM_SENDER_ID</key>
	<string>992006850369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tekqube.imrc</string>
	<key>PROJECT_ID</key>
	<string>imrc-1526278862134</string>
	<key>STORAGE_BUCKET</key>
	<string>imrc-1526278862134.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:992006850369:ios:646f59a2d5e642ba</string>
	<key>DATABASE_URL</key>
	<string>https://imrc-1526278862134.firebaseio.com</string>
</dict>
</plist>
